<form method="post" action="{{ path('app_serie_delete', {'id': serie.id}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ?');"
      class="d-flex justify-content-center w-100 m-0 p-0">
    <button type="submit" class="{{ button_class|default('bd-bubble w-75 text-center') }}">
        {{ button_label|default('Supprimer') }}
    </button>
</form>